/* -------------------------------------------- B A D G E S ------------------------------ */

// Mixin pour les styles de base des badges
@mixin badge-base($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.375rem;
}

// Mixin pour les styles outline des badges
@mixin badge-outline($border-color, $bg-color, $text-color) {
  border: 1px solid $border-color;
  background-color: $bg-color;
  color: $text-color;
  @include badge-base($bg-color, $text-color);
}

// Mixin pour les tailles des short badges
@mixin short-badge($size) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: $size;
}

// Utilisation des mixins
.badge {
  @include badge-base(var(--main-d-2), var(--grey-l-5));
}

// Boucle pour générer les classes short-badge avec un pas de 25 de 50 à 250
$i: 50;
@while $i <= 250 {
  .short-badge-#{$i} .badge,
  .short-badge-#{$i} .badge-outline {
    @include short-badge(#{$i}px);
  }
  $i: $i + 25;
}

.badge-outline {
  @include badge-outline(var(--main-d-2), var(--grey-l-5), var(--main-d-2));
}

.badge-secondary {
  @include badge-base(var(--secondary-d-2), var(--grey-l-5));
}

.badge-outline-secondary {
  @include badge-outline(var(--secondary-d-2), var(--grey-l-5), var(--secondary-d-2));
}

.badge-tertiary {
  @include badge-base(var(--tertiary-d-2), var(--grey-l-5));
}

.badge-outline-tertiary {
  @include badge-outline(var(--tertiary-d-2), var(--grey-l-5), var(--tertiary-d-2));
}
