/* -------------------------------------------- B O U T O N S ------------------------------ */
/* https://openclassrooms.com/fr/courses/5919246-creez-des-animations-css-modernes/6340912-decouvrez-les-animations-web */
/* Animation */
  [class*="btn-"], .btn {
    /* propriété durée délais timming , autres animations ... */
    transition: transform .15s cubic-bezier(.71,.12,1,.6), background-color .14s 50ms ease-in-out;

    &:hover{
      text-decoration: none;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5.5px);
      -webkit-backdrop-filter: blur(5.5px);
    }

    &:active{
      display: inline-block;
    }

    // Blur ANIMATION
    &.btn-animate{

      overflow: hidden;
      backdrop-filter: blur(5.5px);
      -webkit-backdrop-filter: blur(5.5px);

        &::before {
          content: '';
          background: rgb(255, 255, 255);
          opacity: 0.1;
          width: 0%;
          height: 0%;
          top: 0%;
          left: 0%;
          transform: skew(45deg);
          position: absolute;
          transition: left 0.3s ease;
        }

        &:hover::before{
          left: 150%;
          width: 60%;
          height: 100%;
        }
    }

  }

  [class*="btn-text"]:hover{
    text-decoration: none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  
  /* Bouton fond rempli */
  [class*="btn-back-"] {
    color: var(--grey-l-5);
  }
  .btn-back-main{
    border: 2px solid var(--main-d-2);
    background-color: var(--main-d-2);

      &:hover{
        background-color: var(--main-l-3);
        border: 2px solid var(--main-l-3);
        color: var(--main-d-4);
      }
      &.btn-animate::before{
        background: var(--main-l-5);
      }
  }

  .btn-back-secondary{
    border: 2px solid var(--secondary-d-2);
    background-color: var(--secondary-d-2);

    &:hover{
      background-color: var(--secondary-l-3);
      border: 2px solid var(--secondary-l-3);
      color: var(--secondary-d-4);
    }
    &.btn-animate::before{
      background: var(--secondary-l-5);
    }
  }

  .btn-back-tertiary{
    border: 2px solid var(--tertiary-d-2);
    background-color: var(--tertiary-d-2);

    &:hover{
      background-color: var(--tertiary-l-3);
      border: 2px solid var(--tertiary-l-3);
      color: var(--tertiary-d-4);
    }
    &.btn-animate::before{
      background: var(--tertiary-l-5);
    }
  }

  .btn-back-red{
    border: 2px solid var(--red-d-2);
    background-color: var(--red-d-2);

    &:hover{
      background-color: var(--red-l-3);
      border: 2px solid var(--red-l-3);
      color: var(--red-d-4);
    }
    &.btn-animate::before{
      background: var(--red-l-5);
    }
  }

  .btn-back-green{
    border: 2px solid var(--green-d-2);
    background-color: var(--green-d-2);

    &:hover{
      background-color: var(--green-l-3);
      border: 2px solid var(--green-l-3);
      color: var(--green-d-4);
    }
    &.btn-animate::before{
      background: var(--green-l-5);
    }
  }

  .btn-back-grey{
    border: 2px solid var(--grey-d-2);
    background-color: var(--grey-d-2);

    &:hover{
      background-color: var(--grey-l-3);
      border: 2px solid var(--grey-l-3);
      color: var(--grey-d-4);
    }
    &.btn-animate::before{
      background: var(--grey-l-5);
    }
  }
  
  /* Bouton border */
  [class*="btn-border-"] {
    background-color: var(--grey-l-5);
  }
  [class*="btn-border-"]:hover {
    color: var(--grey-l-5);
  }
  .btn-border-main{
    border: 2px solid var(--main-d-2);
    color: var(--main-d-2);

    &:hover{
      border: 2px solid var(--main-d-2);
      background-color: var(--main-d-2);
    }
    &.btn-animate::before{
      background: var(--main-d-5);
    }
  }

  .btn-border-secondary{
    border: 2px solid var(--secondary-d-2);
    color: var(--secondary-d-2);

    &:hover{
      border: 2px solid var(--secondary-d-2);
      background-color: var(--secondary-d-2);
    }
    &.btn-animate::before{
      background: var(--secondary-d-5);
    }
  }

  .btn-border-tertiary{
    border: 2px solid var(--tertiary-d-2);
    color: var(--main-d-2);

    &:hover{
      border: 2px solid var(--tertiary-d-2);
      background-color: var(--tertiary-d-2);
    }
    &.btn-animate::before{
      background: var(--tertiary-d-5);
    }
  }

  .btn-border-red{
    border: 2px solid var(--red-d-2);
    color: var(--red-d-2);

    &:hover{
      border: 2px solid var(--red-d-2);
      background-color: var(--red-d-2);
    }
    &.btn-animate::before{
      background: var(--red-d-5);
    }
  }

  .btn-border-green{
    border: 2px solid var(--green-d-2);
    color: var(--green-d-2);

    &:hover{
      border: 2px solid var(--green-d-2);
      background-color: var(--green-d-2);
    }
    &.btn-animate::before{
      background: var(--green-d-5);
    }
  }

  .btn-border-grey{
    border: 2px solid var(--grey-d-2);
    color: var(--grey-d-2);

    &:hover{
      border: 2px solid var(--grey-d-2);
      background-color: var(--grey-d-2);
    }
    &.btn-animate::before{
      background: var(--grey-d-5);
    }
  }
  
  /* Bouton underline */
  [class*="btn-underline-"] {
    border: none;
    background-color: transparent;
  }
  .btn-underline-main{color: var(--main-d-2);}
  .btn-underline-main:hover{
    border-bottom: 2px solid var(--main-d-4);
    color: var(--main-d-4);
  }
  .btn-underline-secondary{color: var(--secondary-d-2);}
  .btn-underline-secondary:hover{
    border-bottom: 2px solid var(--secondary-d-4);
    color: var(--secondary-d-4);
  }
  .btn-underline-tertiary{color: var(--tertiary-d-2);}
  .btn-underline-tertiary:hover{
    border-bottom: 2px solid var(--tertiary-d-4);
    color: var(--tertiary-d-4);
  }
  .btn-underline-red{color: var(--red-d-2);}
  .btn-underline-red:hover{
    border-bottom: 2px solid var(--red-d-4);
    color: var(--red-d-4);
  }
  .btn-underline-green{color: var(--green-d-2);}
  .btn-underline-green:hover{
    border-bottom: 2px solid var(--green-d-4);
    color: var(--green-d-4);
  }
  .btn-underline-grey{color: var(--grey-d-2);}
  .btn-underline-grey:hover{
    border-bottom: 2px solid var(--grey-d-4);
    color: var(--grey-d-4);
  }
  
  /* Bouton text */
  [class*="btn-text-"] {
    border: none;
    background-color: transparent;
  }
  .btn-text-main{color: var(--main-d-2);}
  .btn-text-main:hover{color: var(--main-d-4);}
  .btn-text-secondary{color: var(--secondary-d-2);}
  .btn-text-secondary:hover{color: var(--secondary-d-4);}
  .btn-text-tertiary{color: var(--tertiary-d-2);}
  .btn-text-tertiary:hover{color: var(--tertiary-d-4);}
  .btn-text-red{color: var(--red-d-2);}
  .btn-text-red:hover{color: var(--red-d-4);}
  .btn-text-green{color: var(--green-d-2);}
  .btn-text-green:hover{color: var(--green-d-4);}
  .btn-text-grey{color: var(--grey-d-2);}
  .btn-text-grey:hover{color: var(--grey-d-4);}