// Mixin pour les tailles des formulaires
@mixin form-control-size($size) {
    @if $size == "xl" {
      padding: 0.5rem 1rem;
      font-size: 1.25rem;
      line-height: 1.5;
      border-radius: 0.3rem;
    } @else if $size == "lg" {
      padding: 0.5rem 1rem;
      font-size: 1.25rem;
      line-height: 1.5;
      border-radius: 0.3rem;
    } @else if $size == "md" {
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.25rem;
    } @else if $size == "sm" {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1.5;
      border-radius: 0.2rem;
    } @else if $size == "xs" {
      padding: 0.25rem 0.5rem;
      font-size: 0.75rem;
      line-height: 1.5;
      border-radius: 0.2rem;
    } @else {
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.25rem;
    }
}
// Mixin pour les formulaires désactivés
@mixin form-control-disabled {
filter: grayscale(85%);
cursor: default;
transition: none;

&:hover {
    background-color: inherit;
    border: inherit;
    color: inherit;
    transform: none;
}
}
// Mixin pour les formulaires (input, select, textarea)
@mixin form-control($color: var(--main-d-2)) {
display: block;
width: auto;
padding: 0.375rem 0.75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: $color;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: 0.25rem;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

&:focus {
    color: inherit;
    background-color: #fff;
    border-color: $color;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($color, 0.25);
}

&::placeholder {
    color: #6c757d;
    opacity: 1;
}

&:disabled,
&[readonly] {
    @include form-control-disabled;
    background-color: #e9ecef;
    opacity: 1;
}
}
// Pour les éléments select
@mixin form-select($color: var(--main-d-2)) {
    appearance: none;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='none' stroke='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center/8px 10px;
    @include form-control($color);
}
  
// Sélecteurs pour appliquer les mixins
.form-control {
@include form-control();
@include form-control-size(md);
}
.form-control-lg {
@include form-control();
@include form-control-size(lg);
}
.form-control-sm {
@include form-control();
@include form-control-size(sm);
}
.form-control-xs {
@include form-control();
@include form-control-size(xs);
}

.form-select {
@include form-select();
@include form-control-size(md);
}
.form-select-xl {
@include form-select();
@include form-control-size(xl);
}
.form-select-lg {
@include form-select();
@include form-control-size(lg);
}
.form-select-md {
@include form-select();
@include form-control-size(md);
}
.form-select-sm {
@include form-select();
@include form-control-size(sm);
}
.form-select-xs {
@include form-select();
@include form-control-size(xs);
}
  

/* Input RANGE couleur */
    .form-range::-webkit-slider-thumb{background: var(--main-d-2);}
    .form-range.border-main::-webkit-slider-thumb{background: var(--main-d-2);}
    .form-range::-moz-range-thumb{background: var(--main-d-2);}
    .form-range.border-main::-moz-range-thumb{background: var(--main-d-2);}
    .form-range::-ms-thumb{background: var(--main-d-2);}
    .form-range.border-main::-ms-thumb {background: var(--main-d-2);} 

    .form-range.border-secondary::-webkit-slider-thumb{background: var(--secondary-d-2);}
    .form-range.border-secondary::-moz-range-thumb{background: var(--secondary-d-2);}
    .form-range.border-secondary::-ms-thumb{background: var(--secondary-d-2);}

    .form-range.border-tertiary::-webkit-slider-thumb{background: var(--tertiary-d-2);}
    .form-range.border-tertiary::-moz-range-thumb{background: var(--tertiary-d-2);}
    .form-range.border-tertiary::-ms-thumb  {background: var(--tertiary-d-2);}


// ----------------- D R O P D O W N -----------------
    .dropdown__search__container {
        display: flex;
        align-items: center;
        justify-content: start;
        padding-inline: 10px;

        &__input {
            margin-inline-start: 5px;
            padding: 0.5rem;
            width: 100%;
            border: solid 1px var(--main-l-4);
            border-radius: 5px;
            min-height: 2rem;
        }
    }