@for $i from 2 to 51 {
    $size: $i * 10;
    .width-#{$size} {
        width: $size + px!important;

        &-hover{
            &:hover{
                width: $size + px!important;
                z-index: 2;
            }
            &::after{
                content: inherit;
                z-index: -1;
            }
        }
    }
    .height-#{$size} {
        height: $size + px!important;

        &-hover{
            &:hover{
                height: $size + px!important;
                z-index: 2;
            }
            &::after{
                content: inherit;
                z-index: -1;
            }
        }
    }

}