@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

.lato {
    font-family: "Lato", sans-serif;

    &-thin,
    &-100 {
        font-weight: 100;
    }
    &-light,
    &-300 {
        font-weight: 300;
    }
    &-regular,
    &-400 {
        font-weight: 400;
    }
    &-bold,
    &-700 {
        font-weight: 700;
    }
    &-black,
    &-900 {
        font-weight: 900;
    }
}

// Relatif à tailwindcss plugin typography
.prose {
    max-width: 100ch;
}
