.page-navigation {
    position: fixed;
    top: calc($hight-toolbar + 50px);
    right: 50px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: end;
    opacity: 0.85;
    overflow: hidden;
    box-shadow: $box-shadow-1;
    backdrop-filter: blur(64px);
    background: rgb(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 10px;

    &:hover {
        opacity: 0.95;
        box-shadow: $box-shadow-2;
    }

    &__top{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 5px 10px;
        gap: 10px;

        &__toggle {
            cursor: pointer;

            i{
                color:var(--main);
                transition: all 0.3s ease-in-out;
                font-size: 2rem;
            }

            &:hover{
                i{
                    color:var(--main-d-2);
                }
            }
        }

        &__text, &__select-item {
            font-weight: 400;
            color: var(--main-d-2);
            font-size: 0.9rem;
        }
        &__select-item {
            transform: translateX(100%);
            opacity: 0;
        
            &--transition {
                transition: all 0.2s ease-in-out;
                transform: translateX(0px);
                opacity: 1;
            }
        }
    }

    &__menu {
        display:none;
        justify-content: start;
        align-items: end;
        flex-direction: column;
        text-align: right;
    }

    &--open {
        backdrop-filter: blur(64px);
        background: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 10px;
        flex-direction: column;
        align-items: end;
        opacity: 0.95;
        box-shadow: $box-shadow-2;

        &:hover {
            opacity: 0.97;
            box-shadow: $box-shadow-3;
        }

        &__top__text {
            visibility: visible;
        }

        .page-navigation__menu {
            display: flex;

            &__item{
                border-radius: 3px;
                padding: 1px;

                &:hover{
                    background-color: var(--main-l-4);
                    color: var(--main-d-3);
                }

                &--active{
                    background-color: var(--main-d-3);
                    color: var(--main-l-4);
                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-mobile) {
        position: relative;
        top: 0;
        right: 0;
        opacity: 1;
        box-shadow: none;

        &:hover {
            opacity: 1;
            box-shadow: none;
        }

    }
}