.page-navigation {
    position: fixed;
    top: calc($hight-toolbar + 50px);
    right: 50px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    opacity: 0.85;
    overflow: hidden;
    box-shadow: $box-shadow-1;
    backdrop-filter: blur(64px);
    background: rgb(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease-in-out;

    &:hover {
        opacity: 0.95;
        box-shadow: $box-shadow-2;
    }

    &__top{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 5px 10px;
        gap: 10px;

        &__minimize {
            cursor: pointer;
    
            i{
                color:var(--main);
                transition: all 0.3s ease-in-out;
                font-size: 1rem;
            }
    
            &:hover{
                i{
                    color:var(--main-d-2);
                }
            }
        }

        &__select-item {
            display: block;
            font-weight: 400;
            color: var(--main-d-2);
            font-size: 0.9rem;
            transform: translateX(100%);
            opacity: 0;
        
            &--transition {
                transition: all 0.2s ease-in-out;
                transform: translateX(0px);
                opacity: 1;
            }
        }

    }

    &__menu {
        display:none;
        justify-content: start;
        align-items: end;
        flex-direction: column;
        text-align: right;
        backdrop-filter: blur(64px);
        background: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 10px;

        &__item{
            border-radius: 3px;
            padding: 1px;

            &:hover{
                background-color: var(--main-l-4);
                color: var(--main-d-3);
            }

            &--active{
                background-color: var(--main-d-3);
                color: var(--main-l-4);
            }
        }
    }

    &--minimized {

        .page-navigation{

            &__top {
                opacity: 0.70;

                &__select-item {
                    display: none;
                }

            }
        }
    }

    &:hover {
        .page-navigation{
            &__top{
                opacity: 0.95;
                
                &__select-item {
                    display: block;
                    opacity: 1;
                    transform: translateX(0px);
                }
            }
            &__menu {
                display: flex;
                opacity: 0.95;
            }
        }
    }

    @media screen and (max-width: $breakpoint-mobile) {
        position: relative;
        top: 0;
        right: 0;
        opacity: 1;
        box-shadow: none;

        &:hover {
            opacity: 1;
            box-shadow: none;
        }

    }
}