// Conteneur global
.effects_array_tabs{
    padding: 1rem;

    ul {
        li {
            background-color: var(--main);
        }
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        background-color: var(--main);
        border: none;
    }
    .ui-tabs-anchor{
        padding: 0;
        margin: 0;
        color:transparent;
        background-color: transparent;
    }
    .ui-widget-header{
        border : none;
        background-color: transparent;
    }
}

// Pour chaqque propriété 
.effects_array_prop{
    display: grid; 
    grid-auto-columns: auto; 
    grid-auto-rows: auto; 
    grid-template-columns: 190px 1fr;
    grid-template-rows: 1fr; 
    gap: .2rem .2rem;
    align-items: center;
    justify-items: center;
    padding: 7px 0px;
    border-top: solid 0.1px var(--main-l-4);

    &.spell_prop_col-duration{ grid-template-columns: 190px auto auto; }
    &.spell_prop_col-cible{ grid-template-columns: 190px auto 150px; }
    &.spell_prop_col-duration-cible{ grid-template-columns: 190px auto auto 190px; }

    &.spell_prop_row-critical{ 
        grid-template-rows: auto [critical]  auto; 
    }
    &.spell_prop_row-comment{ 
        grid-template-rows: auto [comment] auto; 
    }
    &.spell_prop_row-critical-comment{ 
        grid-template-rows: auto [critical] auto [comment] auto; 
    }

    &:nth-child(odd){
        background-color: var(--main-l-5);
    }
    &:nth-child(even){
        background-color: var(--white);
    }

    .spell_prop_title{
        justify-self: end;
        padding-inline-end: 10px; 
    }
    .spell_prop_value{
        justify-self: start;
    }
    .spell_prop_duration{
        justify-self: end;
    }
    .spell_prop_cible{
        justify-self: start;
    }
    .spell_prop_critical_title{
        justify-self: center;
        grid-column-start: 1;
        justify-self: end;
        padding-inline-end: 10px; 
        @include fontComment(0.9rem, var(--grey-d-2, normal));
    }
    .spell_prop_critical{
        justify-self: start;
        grid-area: critical;
        grid-column-end: -1;
        grid-column-start: 2;
        font-size: 0.9rem;
    }
    .spell_prop_comment_title{
        justify-self: center;
        grid-column-start: 1;
        justify-self: end;
        padding-inline-end: 10px; 
        @include fontComment(0.9rem, var(--grey-d-2, normal));
    }
    .spell_prop_comment{
        justify-self: start;
        grid-area: comment;
        grid-column-end: -1;
        grid-column-start: 2;
        @include fontComment();
    }
}


//  EDIT MODE
.container_effect_array{
    border-bottom: solid 1px var(--main-l-4);
    border-top: solid 1px var(--main-l-4);
    padding: 1rem;
    margin: 2rem 0;

    h3 {
        margin-bottom: 1rem;
    }
}

.spell-effect-edit-mode-select-type{
    width: auto;
}
.spell-effect-btn-add-prop, .spell-effect-btn-toggle-mode{
    padding: 0;
    font-size: 1.7rem;
}

.display__adding__gui{
    h4, &__type, &__level{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
        color: var(--main-d-1);
    }

    .template-value-select-type, .template-critical-select-type{
        max-width: 350px;
        margin-block-end: 10px;
        background-color: var(--main-l-5);
        border: solid 2px var(--main-l-3);
    }

    &__content {
        .template-value-container .template-value-conditionnal, .template-critical-container .template-critical-conditionnal{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2px;
        }
        .template-value-free, .template-value-conditionnal, .template-critical-conditionnal, .template-critical-free {
            margin: 2px;
        }
    }
}
