Options -Indexes
Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# Si l'URL ne contient pas "index.php" et que la requête n'est pas un répertoire ou un fichier existant
RewriteCond %{REQUEST_URI} !^/(index\.php|images|css|js)/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Réécrivez l'URL en incluant les paramètres c, a et p
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/?$ index.php?c=$1&a=$2&p=$3 [L,QSA]
RewriteRule ^([^/]+)/([^/]+)/([^/]+):([^/]+)/?$ index.php?c=$1&a=$2&$3=$4 [L,QSA]

# Si l'URL ne contient pas "index.php" et que la requête n'est pas un répertoire ou un fichier existant
RewriteCond %{REQUEST_URI} !^/(index\.php|images|css|js)/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Réécrivez l'URL en incluant les paramètres c et a
RewriteRule ^([^/]+)/([^/]+)/?$ index.php?c=$1&a=$2 [L,QSA]

# Si l'URL ne contient pas "index.php" et que la requête n'est pas un répertoire ou un fichier existant
RewriteCond %{REQUEST_URI} !^/(index\.php|images|css|js)/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Réécrivez l'URL en incluant les paramètres url_name pour l'affichage des pages de bases
RewriteRule ^([^/]+)/?$ index.php?url_name=$1 [L,QSA]