// Mixin pour l'élément diviseur
@mixin item-divider($color1, $color2, $opacity: 1) {
  background: linear-gradient(90deg, var(--black) 0%, var(--black) 5%, var(#{$color2}) 15%, var(#{$color2}) 85%, var(--black) 95%, var(--black) 100%);
  opacity: $opacity;
}

// Styles de base pour les éléments diviseurs
[class*="item-divider"] {
  height: 1px;
  margin: 1rem 0;
  overflow: hidden;
}

// Génération des classes spécifiques avec le mixin
.item-divider-black {
  @include item-divider(--black, --black-o-8);
}

.item-divider-white {
  @include item-divider(--black, --white-o-8);
}

.item-divider-grey {
  @include item-divider(--black, --grey-o-8);
}

.item-divider-main {
  @include item-divider(--black, --main-d-4, 0.5);
}

.item-divider-secondary {
  @include item-divider(--black, --secondary-d-4, 0.5);
}

.item-divider-tertiary {
  @include item-divider(--black, --tertiary-d-4, 0.5);
}
