@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .align-items-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .align-items-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .align-items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .align-items-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .align-items-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
  * {
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }
  html,
  body {
    height: 100vh;
    width: 100vw;
  }
  .lato {
    font-family: "Lato", sans-serif;
  }
  .lato-thin, .lato-100 {
    font-weight: 100;
  }
  .lato-light, .lato-300 {
    font-weight: 300;
  }
  .lato-regular, .lato-400 {
    font-weight: 400;
  }
  .lato-bold, .lato-700 {
    font-weight: 700;
  }
  .lato-black, .lato-900 {
    font-weight: 900;
  }
  .prose {
    max-width: 100ch;
  }
  .w-fit-available {
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
  }
  .h-fit-available {
    height: 100%;
    height: -moz-available; /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    height: fill-available;
  }
  .bg-blur-1 {
    -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px);
  }
  .bg-blur-2 {
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  .bg-blur-3 {
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
  }
  .bg-blur-4 {
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
  .bg-blur-5 {
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .bg-blur-6 {
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
  }
  .bg-blur-7 {
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
  }
  .bg-blur-8 {
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
  .bg-blur-9 {
    -webkit-backdrop-filter: blur(9px);
            backdrop-filter: blur(9px);
  }
  .bg-blur-10 {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
}