$hight-toolbar: 84px;
$width-nav: 278px;

$z-index-content:0;
$z-index-footer:1;
$z-index-toolbar:2;
$z-index-toolbar-mobile:3;
$z-index-footer-toggle:4;
$z-index-overlay:5;
$z-index-nav:6;
$z-index-nav-mobile:1070;

.app {
    @include flexbox(row);
    flex-grow: 1;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;

    &-toolbar-and-content{
      @include flexbox(column, null, stretch);
      width: 100%;
    }

    // --------------------------- N A V I G A T I O N ---------------------------
      .app-nav {
        min-width: $width-nav;
        box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
        z-index: $z-index-nav;
        margin: 0px;
        padding: 0px;
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;

        @media screen and (max-width: $breakpoint-tablet) {
          min-width: 0;
        }

        &-content{
          margin: 0px;
          position: fixed;
          left: 0;
          top: 0;
          bottom: 0;
          background-color: var(--main-l-4);
          background: radial-gradient(circle, var(--main-l-4) 0%, var(--main-l-3) 100%);
          color: var(--main-d-3);
          overflow-y: scroll;
          overflow-x: hidden;
          scrollbar-width: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          min-width: $width-nav;

          @media (max-width: $breakpoint-mobile) {
            width:80vw;
            padding-bottom: 70px;
          }

          @media (max-width: $breakpoint-tiny-mobile) {
            width:100vw;
          }

          &::-webkit-scrollbar {
            display: none;
          }
    
          // Logo
          .brand-logo {
            position: relative;
            margin: 20px 0px;
            align-items: center;
            justify-content: center;
            display: flex;
            cursor: pointer;
            filter: drop-shadow(1px 2px 2px var(--black-o-5))  grayscale(0%);
            transition: all ease-out 0.3s;

             &:focus, &:active, &:hover {
              filter: drop-shadow(1px 5px 0px var(--secondary)) grayscale(50%);
              -webkit-filter: drop-shadow(1px 5px 0px var(--secondary)) grayscale(50%);
              -moz-filter: drop-shadow(1px 5px 0px var(--secondary)) grayscale(50%);
              -o-filter: drop-shadow(1px 5px 0px var(--secondary)) grayscale(50%);
              -ms-filter: drop-shadow(1px 5px 0px var(--secondary)) grayscale(50%);
              transform: scale(1.05);
            }
          }
    
          // Listing
          .app-nav-list {
            display: flex;
            flex-direction: column;
            color: var(--main-d-4);

            &-title {
              margin: 10px 0px;
              font-size: 1.2rem;
              font-weight: 400;
              text-align: center;
            }
          }
          a{font-weight: 600;}

          .app-nav-item {
            padding: 7px;
            padding-inline-start: 30px;
            transition: all ease-out 0.5s;
            font-weight: 500;
            display: flex;
            flex-direction: row;
            align-items: center;
            overflow: hidden;

            .item-child {
              padding-left: 20px;
              transition: all ease-out 0.5s;
              font-weight: 400;
            }
            .dropdown-menu {
              // display: flex;
              display: none;
              flex-direction: column;
            }

            &:hover, &:active, &:focus {
              color: var(--secondary-d-2);
              background: var(--white-o-3);
              border-radius: 3px;
              box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
              backdrop-filter: blur(5.5px);
              -webkit-backdrop-filter: blur(5.5px);
              border: 1px solid var(--white-o-7);
              backdrop-filter: brightness(1.05) blur(5.5px);
              transform: scale(1.05);
              transition: all ease-out 0.2s;
              padding-inline: 15px;
            }

            &::before{
              content: '';
              // background: var(--white-o-2);
              background: var(--secondary-l-5);
              opacity: 0.2;
              width: 0%;
              height: 0%;
              top: 0%;
              left: 0%;
              transform: skew(45deg);
              position: absolute;
              transition: left 0.5s ease;
            }

            &:hover::before{
              left: 150%;
              width: 60%;
              height: 100%;
            }
          }

          .app-nav-dropdown{
            display: flex;
            flex-direction: column;

            .dropdown-item {
              min-height: 40px;
              padding: 8px 20px 8px 50px;
              display: flex;
              align-items: center;
              transition: all ease-out 0.5s;
              font-weight: 400;
              font-size: 0.9rem;

              &:hover, &:active, &:focus {
                color: var(--secondary-d-2);
                background: var(--white-o-3);
                border-radius: 3px;
                box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5.5px);
                -webkit-backdrop-filter: blur(5.5px);
                border: 1px solid var(--white-o-7);
              }

              &::before{
                content: '';
                // background: var(--white-o-);
                background: var(--secondary-l-5);
                opacity: 0.2;
                width: 0%;
                height: 0%;
                top: 0%;
                left: 0%;
                transform: skew(45deg);
                position: absolute;
                transition: left 0.5s ease;
              }

              &:hover::before{
                left: 150%;
                width: 60%;
                height: 100%;
              }
            }

            .dropdown-toggle {

              &.collapsed{
                font-weight: 700;
                &::after{
                  transform: rotate(90deg);
                }
              }

              &::after{
                content: "";
                margin-left: auto;
                display: inline-block;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid var(--main-d-3);
              }

            }

            &-toggle::after {
              border-top-color: var(--main-d-3);
            }

          }

          .close-menu{
            text-align: center;
            position: absolute;
            top: 5px;
            right: 7px;
            padding: 10px;
            font-size: 1.5rem;
            color: var(--main-d-3);
            cursor: pointer;
            transition: all ease-out 0.5s;
            z-index: calc($z-index-nav + 1);
            display: none;

            @media (max-width: $breakpoint-tablet) {
              display: block;
            }
          }
        }
      }

    // --------------------------- T O O L B A R ---------------------------
      .app-toolbar {
        position: fixed;
        top: 0;
        right: 0;
        left: $width-nav;
        @include flexbox(null, space-between, center);
        padding: 8px 27px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0  , 0.2);
        background: radial-gradient(circle,  var(--grey-l-4) 0%, var(--grey-l-5) 100%);
        z-index: $z-index-toolbar;
        transition: all 0.4s ease;
        min-height: $hight-toolbar;

        @media (max-width: $breakpoint-mobile) {
          top:calc(($hight-toolbar + 50px)*(-1));
        }

        &-content{
          min-height: $hight-toolbar;

          &.hidden{
            display: none;
          }

          @media (max-width: $breakpoint-mobile) {
            min-height:0;
          }
        }

        // Title
        &-title{
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-wrap: nowrap;
          color: var(--main-d-1);
          font-weight: 400;

          h1{
            size: clamp(1.5rem, 2vw, 2rem);
            font-weight: 400;
            letter-spacing: 2px;
            padding-inline-start: 40px;
          }

          a {
            color: var(--main-d-1);
            text-decoration: none;
            position: relative;
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          &:hover, &:active, &:focus {
            color: var(--main-l-2);
            text-decoration: none;
          }
        }

        // Navigation
        &-nav{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: baseline;
          gap: 1.5vw;

          @media screen and (max-width: $breakpoint-mobile) {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100vw;
            z-index: $z-index-toolbar-mobile;
            display:grid;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            grid-template-areas: "menu bookmark search tools account";
            align-items: baseline;
            gap: 4px 4px;
            padding: 8px 7px 4px 7px;
            border-radius: 5%;
            background: radial-gradient(circle,  var(--grey-l-4) 0%, var(--grey-l-5) 100%);
            box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.2);

            @media screen and (max-width: $breakpoint-tiny-mobile) {
              grid-template-areas: "menu bookmark search account";
            }
          }

          .globalsearch-box-container{
            position: relative;
            display: flex;
            align-items: stretch;
            justify-content: flex-end;
            width: 10vw;
            min-width: 70px;
            max-width: 200px;
            transition: all ease-out 0.2s;
            overflow: hidden;
            @media screen and (max-width: $breakpoint-tablet) {
              position: fixed;
              top: 10px;
              left: 50%;
              transform: translateX(-50%);
              display: none;
            }

            > div {
              position: relative;
              display: flex;
              align-items: stretch;
              justify-content: flex-end;
              width: 100%;
              height: 100%;

              @media screen and (max-width: $breakpoint-tablet) {
                  display: none;
              }
            }

            input{
              padding: 0 15px 0 40px;
              width: 100%;
              height: 100%;
              transition: all ease-out 0.2s;
            }

            &.active{
              width: 30vw;
              min-width: 200px;
              max-width: 600px;
              padding: 10px 10px;
              background-color: var(--main-l-3);
              border-radius: 5px;
              box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

              > div {
                @media screen and (max-width: $breakpoint-tablet) {
                  display: flex;
                }
              }

              input {
                border: 1px solid var(--main-d-3);
                background-color: var(--main-l-5);
                color: var(--main-d-3);
                transition: all ease-out 0.2s;
              }
            }

            .globalsearch-box-icon{
              position: absolute;
              top: 50%;
              left: 15px;
              transform: translateY(-50%);
              color: var(--main-l-1);
              cursor: pointer;
              pointer-events: none;
              user-select: none;
            }
    
          }

          .globalsearch-toggle{
            @media screen and (max-width: $breakpoint-mobile) {
              grid-area: "search";
            }
          }
          .toolsbox-toggle{
            @media screen and (max-width: $breakpoint-mobile) {
              grid-area: "tools";
            }
            @media screen and (max-width: $breakpoint-tiny-mobile) {
              display: none;
            }
          }
          .bookmark-toggle{
            @media screen and (max-width: $breakpoint-mobile) {
              grid-area: "bookmark";
            }
          }
          .account-toggle{
            margin-inline-start: 0.3rem;
            .toolbox-toolgle-dropdrown-item{
              display: none;
              @media screen and (max-width: $breakpoint-tiny-mobile) {
                display: block;
              }
            }
            @media screen and (max-width: $breakpoint-mobile) {
              grid-area: "account";
            }
          }
          // Menu tootle btn
          .menu-toggle {
            position: absolute;
            top: calc($hight-toolbar/2 + 3px);
            transform: translateY(-50%);
            left: 28px;
  
            @media screen and (max-width: $breakpoint-mobile) {
              position: relative;
              top:auto;
              transform: none;
              left: auto;
              grid-area: "menu";
            }
          }
          .menu-toggle span:last-child{
            display: none;
            @media screen and (max-width: $breakpoint-mobile) {
              display: block;
            }
          }
        }

      }
      &.app-compacted .app-toolbar, &.app-fold .app-toolbar {
        left: 0;
      }

      // Bouton de connexion et comptes
      .header-button-account-access{
        border: none;
        margin: 0;
        padding: 0;
        background-color: transparent;
        &:focus, &:active, &:hover {
          border: none;
          outline: none;
          box-shadow: none;
        }
      }

      .heander-button-account-access-text{
        display: block;
        visibility: visible;
      }
      .heander-button-account-access-icon{
        display: none;
        visibility: hidden;
      }


      @media screen and (max-width: $breakpoint-mobile) {
        .heander-button-account-access-text{
          display: none;
          visibility: hidden;
        }
        .heander-button-account-access-icon{
          display: block;
          visibility: visible;
        }
      }

    // --------------------------- C O N T E N T ---------------------------
      .app-content {
        flex-grow: 2;
        z-index: $z-index-content;

        #content{
          padding: 3rem 2rem;
          max-width: 100vw;
        }

        @media (max-width: $breakpoint-mobile) {
            margin-top: 0;
        }

        .undercontent {
          position: absolute;
          top: 0;
          margin-top: 2rem;
          padding: 5px;
          background-color: var(--main-l-5);
          border-radius: 5px;
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
          
          @media (max-width: $breakpoint-mobile) {
            margin-top: 0;
          }
        }
      }

     // --------------------------- F O O T E R ---------------------------
      footer{
        background-color: var(--main-l-5);
        @include flexbox(null, center, center);
        color: var(--main-d-3);
        text-align: center;
        font-size: 0.8rem;
        padding: 5px;
        font-weight: 400;
        z-index:$z-index-footer;
        box-shadow: 3px -2px 3px rgba(0, 0, 0, 0.2);
        margin: 0;

        @media screen and (max-width: $breakpoint-mobile) {
          padding: 5px 5px 50px;
        }

        &.hidden{
          display: none;
        }
      }

  // --------------------------- B T N   T O O L B A R   F O O T E R ---------------------------
    .app-btn-show-toolbar-footer{
      position: fixed;
      top: -40px;
      right: -40px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: var(--secondary-d-2);
      box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.2);
      z-index: $z-index-footer-toggle;
      transition: all ease-out 0.5s;

      a{
        bottom: 11px;
        left: 20px;
        position: absolute;
        font-size: 1.2rem;
        color: var(--grey-l-5)!important;
        transform: rotate(90deg);
        transition: all ease-out 0.5s;
      }

      &:hover{
        top: -20px;
        right: -20px;

        a{
          transform: rotate(0deg);
          font-size: 1.8rem;
          bottom: 14px;
          left: 26px;
        }
      }

    }

  // --------------------------- R E S P O N S I V E ---------------------------

  &.app-compacted {
    .app-nav {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: $z-index-nav-mobile;
      justify-content: center;

    }
    .app-content, footer {
      // margin-left: 0;
    }
  }
  &.app-extend {
    .app-content, footer {
      // margin-left: 0;
    }
    .app-nav {
      display: block;
      transform: translateY(0);
      opacity: 1;
    }
  }
  &.app-fold{
    .app-nav{
      display: none;
      transform: translateY(-100%);
      opacity: 0;
    }
  }

  // ---------------- S E C T I O N ----------------------
  .sectionselector .section-title {
    .section-options {
      display: none;
    }
    &:hover .section-options {
      display: flex;
    }
  }

}

.overlay{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: $z-index-overlay;

  &--visible{
    opacity: 1;
    display: block;
  }
}