.minimal-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid;
    border-radius: 0.25rem;
    transform: scale(1);
    transition: transform 0.3s ease;

    &__header {
        padding: 0.5rem 0.5rem;

        &__title {
            font-size: 1.25rem;
            font-weight: 700;
            margin-block-end: 0.2rem;
        }

        &__content {
            display: flex;
            justify-content: space-around;
            gap:0.2rem;
            align-items: start;

            &__img {
                width: 100px;
                height: auto;
                object-fit: cover;
            }

            &__resume {
                display: flex;
                flex-direction: column;
                gap: 0.1rem;
                margin-block-end: 0.1rem;
            }

        }
    }

    &__body {
        padding: 1rem;
        display:flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;

        &__resume{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 0.1rem;
            margin-block-end: 0.15rem;
            width: 100%;
        }
    }

    &__footer {
        align-items: center;
        display: flex;
        flex-direction: column;

        &__btn {
            @include btn-general(xs, true, false);
            @include btn-underline(var(--main-d-2), var(--main-d-2), var(--main-l-2));
            margin-block-end: 0.2rem;
        }

        &__content {
            display: none;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 0.5rem;
            font-size: 0.8rem;

            &.show {
                display: flex;
            }
        }
    }

    &:hover {
        transform:scale(1.05);
    }

}