:root {
    --black: #000000;
    --black-o-0: rgba(var(--black), 0);
    --black-o-05: rgba(var(--black), 0.05);
    --black-o-1: rgba(var(--black), 0.1);
    --black-o-15: rgba(var(--black), 0.15);
    --black-o-2: rgba(var(--black), 0.2);
    --black-o-25: rgba(var(--black), 0.25);
    --black-o-3: rgba(var(--black), 0.3);
    --black-o-35: rgba(var(--black), 0.35);
    --black-o-4: rgba(var(--black), 0.4);
    --black-o-45: rgba(var(--black), 0.45);
    --black-o-5: rgba(var(--black), 0.5);
    --black-o-55: rgba(var(--black), 0.55);
    --black-o-6: rgba(var(--black), 0.6);
    --black-o-65: rgba(var(--black), 0.65);
    --black-o-7: rgba(var(--black), 0.7);
    --black-o-75: rgba(var(--black), 0.75);
    --black-o-8: rgba(var(--black), 0.8);
    --black-o-85: rgba(var(--black), 0.85);
    --black-o-9: rgba(var(--black), 0.9);
    --black-o-95: rgba(var(--black), 0.95);

    --white: #ffffff;
    --white-o-0: rgba(var(--white), 0);
    --white-o-05: rgba(var(--white), 0.05);
    --white-o-1: rgba(var(--white), 0.1);
    --white-o-15: rgba(var(--white), 0.15);
    --white-o-2: rgba(var(--white), 0.2);
    --white-o-25: rgba(var(--white), 0.25);
    --white-o-3: rgba(var(--white), 0.3);
    --white-o-35: rgba(var(--white), 0.35);
    --white-o-4: rgba(var(--white), 0.4);
    --white-o-45: rgba(var(--white), 0.45);
    --white-o-5: rgba(var(--white), 0.5);
    --white-o-55: rgba(var(--white), 0.55);
    --white-o-6: rgba(var(--white), 0.6);
    --white-o-65: rgba(var(--white), 0.65);
    --white-o-7: rgba(var(--white), 0.7);
    --white-o-75: rgba(var(--white), 0.75);
    --white-o-8: rgba(var(--white), 0.8);
    --white-o-85: rgba(var(--white), 0.85);
    --white-o-9: rgba(var(--white), 0.9);
    --white-o-95: rgba(var(--white), 0.95);

    --transparent: rgb(0, 0, 0, 0);

    --red-l-5: #ffebee;
    --red-l-4: #ffcdd2;
    --red-l-3: #ef9a9a;
    --red-l-2: #e57373;
    --red-l-1: #ef5350;
    --red: #f44336;
    --red-d-1: #e53935;
    --red-d-2: #d32f2f;
    --red-d-3: #c62828;
    --red-d-4: #b71c1c;
    --red-d-5: #881515;
    --red-a-1: #ff8a80;
    --red-a-2: #ff5252;
    --red-a-3: #ff1744;
    --red-a-4: #d50000;    
    --red-o-1: rgba(var(--red), 0.1);
    --red-o-2: rgba(var(--red), 0.2);
    --red-o-3: rgba(var(--red), 0.3);
    --red-o-4: rgba(var(--red), 0.4);
    --red-o-5: rgba(var(--red), 0.5);
    --red-o-6: rgba(var(--red), 0.6);
    --red-o-7: rgba(var(--red), 0.7);
    --red-o-8: rgba(var(--red), 0.8);
    --red-o-9: rgba(var(--red), 0.9);

    --pink-l-5: #fce4ec;
    --pink-l-4: #f8bbd0;
    --pink-l-3: #f48fb1;
    --pink-l-2: #f06292;
    --pink-l-1: #ec407a;
    --pink: #e91e63;
    --pink-d-1: #d81b60;
    --pink-d-2: #c2185b;
    --pink-d-3: #ad1457;
    --pink-d-4: #880e4f;
    --pink-d-5: #4e082e;
    --pink-a-1: #ff80ab;
    --pink-a-2: #ff4081;
    --pink-a-3: #f50057;
    --pink-a-4: #c51162;
    --pink-o-1: rgba(var(--pink), 0.1);
    --pink-o-2: rgba(var(--pink), 0.2);
    --pink-o-3: rgba(var(--pink), 0.3);
    --pink-o-4: rgba(var(--pink), 0.4);
    --pink-o-5: rgba(var(--pink), 0.5);
    --pink-o-6: rgba(var(--pink), 0.6);
    --pink-o-7: rgba(var(--pink), 0.7);
    --pink-o-8: rgba(var(--pink), 0.8);
    --pink-o-9: rgba(var(--pink), 0.9);

    --purple-l-5: #f3e5f5;
    --purple-l-4: #e1bee7;
    --purple-l-3: #ce93d8;
    --purple-l-2: #ba68c8;
    --purple-l-1: #ab47bc;
    --purple: #9c27b0;
    --purple-d-1: #8e24aa;
    --purple-d-2: #7b1fa2;
    --purple-d-3: #6a1b9a;
    --purple-d-4: #4a148c;
    --purple-d-5: #270a4b;
    --purple-a-1: #ea80fc;
    --purple-a-2: #e040fb;
    --purple-a-3: #d500f9;
    --purple-a-4: #aa00ff;
    --purple-o-1: rgba(var(--purple), 0.1);
    --purple-o-2: rgba(var(--purple), 0.2);
    --purple-o-3: rgba(var(--purple), 0.3);
    --purple-o-4: rgba(var(--purple), 0.4);
    --purple-o-5: rgba(var(--purple), 0.5);
    --purple-o-6: rgba(var(--purple), 0.6);
    --purple-o-7: rgba(var(--purple), 0.7);
    --purple-o-8: rgba(var(--purple), 0.8);
    --purple-o-9: rgba(var(--purple), 0.9);

    --deep-purple-l-5: #ede7f6;
    --deep-purple-l-4: #d1c4e9;
    --deep-purple-l-3: #b39ddb;
    --deep-purple-l-2: #9575cd;
    --deep-purple-l-1: #7e57c2;
    --deep-purple: #673ab7;
    --deep-purple-d-1: #5e35b1;
    --deep-purple-d-2: #512da8;
    --deep-purple-d-3: #4527a0;
    --deep-purple-d-4: #311b92;
    --deep-purple-d-5: #180d49;
    --deep-purple-a-1: #b388ff;
    --deep-purple-a-2: #7c4dff;
    --deep-purple-a-3: #651fff;
    --deep-purple-a-4: #6200ea;
    --deep-purple-o-1: rgba(var(--deep-purple), 0.1);
    --deep-purple-o-2: rgba(var(--deep-purple), 0.2);
    --deep-purple-o-3: rgba(var(--deep-purple), 0.3);
    --deep-purple-o-4: rgba(var(--deep-purple), 0.4);
    --deep-purple-o-5: rgba(var(--deep-purple), 0.5);
    --deep-purple-o-6: rgba(var(--deep-purple), 0.6);
    --deep-purple-o-7: rgba(var(--deep-purple), 0.7);
    --deep-purple-o-8: rgba(var(--deep-purple), 0.8);
    --deep-purple-o-9: rgba(var(--deep-purple), 0.9);

    --indigo-l-5: #e8eaf6;
    --indigo-l-4: #c5cae9;
    --indigo-l-3: #9fa8da;
    --indigo-l-2: #7986cb;
    --indigo-l-1: #5c6bc0;
    --indigo: #3f51b5;
    --indigo-d-1: #3949ab;
    --indigo-d-2: #303f9f;
    --indigo-d-3: #283593;
    --indigo-d-4: #1a237e;
    --indigo-d-5: #0f1449;
    --indigo-a-1: #8c9eff;
    --indigo-a-2: #536dfe;
    --indigo-a-3: #3d5afe;
    --indigo-a-4: #304ffe;
    --indigo-o-1: rgba(var(--indigo), 0.1);
    --indigo-o-2: rgba(var(--indigo), 0.2);
    --indigo-o-3: rgba(var(--indigo), 0.3);
    --indigo-o-4: rgba(var(--indigo), 0.4);
    --indigo-o-5: rgba(var(--indigo), 0.5);
    --indigo-o-6: rgba(var(--indigo), 0.6);
    --indigo-o-7: rgba(var(--indigo), 0.7);
    --indigo-o-8: rgba(var(--indigo), 0.8);
    --indigo-o-9: rgba(var(--indigo), 0.9);

    --blue-l-5: #e3f2fd;
    --blue-l-4: #bbdefb;
    --blue-l-3: #90caf9;
    --blue-l-2: #64b5f6;
    --blue-l-1: #42a5f5;
    --blue: #2196f3;
    --blue-d-1: #1e88e5;
    --blue-d-2: #1976d2;
    --blue-d-3: #1565c0;
    --blue-d-4: #0d47a1;
    --blue-d-5: #09326e;
    --blue-a-1: #82b1ff;
    --blue-a-2: #448aff;
    --blue-a-3: #2979ff;
    --blue-a-4: #2962ff;
    --blue-o-1: rgba(var(--blue), 0.1);
    --blue-o-2: rgba(var(--blue), 0.2);
    --blue-o-3: rgba(var(--blue), 0.3);
    --blue-o-4: rgba(var(--blue), 0.4);
    --blue-o-5: rgba(var(--blue), 0.5);
    --blue-o-6: rgba(var(--blue), 0.6);
    --blue-o-7: rgba(var(--blue), 0.7);
    --blue-o-8: rgba(var(--blue), 0.8);
    --blue-o-9: rgba(var(--blue), 0.9);

    --light-blue-l-5: #e1f5fe;
    --light-blue-l-4: #b3e5fc;
    --light-blue-l-3: #81d4fa;
    --light-blue-l-2: #4fc3f7;
    --light-blue-l-1: #29b6f6;
    --light-blue: #03a9f4;
    --light-blue-d-1: #039be5;
    --light-blue-d-2: #0288d1;
    --light-blue-d-3: #0277bd;
    --light-blue-d-4: #01579b;
    --light-blue-d-5: #00365f;
    --light-blue-a-1: #80d8ff;
    --light-blue-a-2: #40c4ff;
    --light-blue-a-3: #00b0ff;
    --light-blue-a-4: #0091ea;
    --light-blue-o-1: rgba(var(--light-blue), 0.1);
    --light-blue-o-2: rgba(var(--light-blue), 0.2);
    --light-blue-o-3: rgba(var(--light-blue), 0.3);
    --light-blue-o-4: rgba(var(--light-blue), 0.4);
    --light-blue-o-5: rgba(var(--light-blue), 0.5);
    --light-blue-o-6: rgba(var(--light-blue), 0.6);
    --light-blue-o-7: rgba(var(--light-blue), 0.7);
    --light-blue-o-8: rgba(var(--light-blue), 0.8);
    --light-blue-o-9: rgba(var(--light-blue), 0.9);

    --cyan-l-5: #e0f7fa;
    --cyan-l-4: #b2ebf2;
    --cyan-l-3: #80deea;
    --cyan-l-2: #4dd0e1;
    --cyan-l-1: #26c6da;
    --cyan: #00bcd4;
    --cyan-d-1: #00acc1;
    --cyan-d-2: #0097a7;
    --cyan-d-3: #00838f;
    --cyan-d-4: #006064;
    --cyan-d-5: #004042;
    --cyan-a-1: #84ffff;
    --cyan-a-2: #18ffff;
    --cyan-a-3: #00e5ff;
    --cyan-a-4: #00b8d4;
    --cyan-o-1: rgba(var(--cyan), 0.1);
    --cyan-o-2: rgba(var(--cyan), 0.2);
    --cyan-o-3: rgba(var(--cyan), 0.3);
    --cyan-o-4: rgba(var(--cyan), 0.4);
    --cyan-o-5: rgba(var(--cyan), 0.5);
    --cyan-o-6: rgba(var(--cyan), 0.6);
    --cyan-o-7: rgba(var(--cyan), 0.7);
    --cyan-o-8: rgba(var(--cyan), 0.8);
    --cyan-o-9: rgba(var(--cyan), 0.9);

    --teal-l-5: #e0f2f1;
    --teal-l-4: #b2dfdb;
    --teal-l-3: #80cbc4;
    --teal-l-2: #4db6ac;
    --teal-l-1: #26a69a;
    --teal: #009688;
    --teal-d-1: #00897b;
    --teal-d-2: #00796b;
    --teal-d-3: #00695c;
    --teal-d-4: #004d40;
    --teal-d-5: #002b23;
    --teal-a-1: #a7ffeb;
    --teal-a-2: #64ffda;
    --teal-a-3: #1de9b6;
    --teal-a-4: #00bfa5;
    --teal-o-1: rgba(var(--teal), 0.1);
    --teal-o-2: rgba(var(--teal), 0.2);
    --teal-o-3: rgba(var(--teal), 0.3);
    --teal-o-4: rgba(var(--teal), 0.4);
    --teal-o-5: rgba(var(--teal), 0.5);
    --teal-o-6: rgba(var(--teal), 0.6);
    --teal-o-7: rgba(var(--teal), 0.7);
    --teal-o-8: rgba(var(--teal), 0.8);
    --teal-o-9: rgba(var(--teal), 0.9);

    --green-l-5: #e8f5e9;
    --green-l-4: #c8e6c9;
    --green-l-3: #a5d6a7;
    --green-l-2: #81c784;
    --green-l-1: #66bb6a;
    --green: #4caf50;
    --green-d-1: #43a047;
    --green-d-2: #388e3c;
    --green-d-3: #2e7d32;
    --green-d-4: #1b5e20;
    --green-d-5: #0e3110;
    --green-a-1: #b9f6ca;
    --green-a-2: #69f0ae;
    --green-a-3: #00e676;
    --green-a-4: #00c853;
    --green-o-1: rgba(var(--green), 0.1);
    --green-o-2: rgba(var(--green), 0.2);
    --green-o-3: rgba(var(--green), 0.3);
    --green-o-4: rgba(var(--green), 0.4);
    --green-o-5: rgba(var(--green), 0.5);
    --green-o-6: rgba(var(--green), 0.6);
    --green-o-7: rgba(var(--green), 0.7);
    --green-o-8: rgba(var(--green), 0.8);
    --green-o-9: rgba(var(--green), 0.9);

    --light-green-l-5: #f1f8e9;
    --light-green-l-4: #dcedc8;
    --light-green-l-3: #c5e1a5;
    --light-green-l-2: #aed581;
    --light-green-l-1: #9ccc65;
    --light-green: #8bc34a;
    --light-green-d-1: #7cb342;
    --light-green-d-2: #689f38;
    --light-green-d-3: #558b2f;
    --light-green-d-4: #33691e;
    --light-green-d-5: #1d3b10;
    --light-green-a-1: #ccff90;
    --light-green-a-2: #b2ff59;
    --light-green-a-3: #76ff03;
    --light-green-a-4: #64dd17;
    --light-green-o-1: rgba(var(--light-green), 0.1);
    --light-green-o-2: rgba(var(--light-green), 0.2);
    --light-green-o-3: rgba(var(--light-green), 0.3);
    --light-green-o-4: rgba(var(--light-green), 0.4);
    --light-green-o-5: rgba(var(--light-green), 0.5);
    --light-green-o-6: rgba(var(--light-green), 0.6);
    --light-green-o-7: rgba(var(--light-green), 0.7);
    --light-green-o-8: rgba(var(--light-green), 0.8);
    --light-green-o-9: rgba(var(--light-green), 0.9);

    --lime-l-5: #f9fbe7;
    --lime-l-4: #f0f4c3;
    --lime-l-3: #e6ee9c;
    --lime-l-2: #dce775;
    --lime-l-1: #d4e157;
    --lime: #cddc39;
    --lime-d-1: #c0ca33;
    --lime-d-2: #afb42b;
    --lime-d-3: #9e9d24;
    --lime-d-4: #827717;
    --lime-d-5: #50490e;
    --lime-a-1: #f4ff81;
    --lime-a-2: #eeff41;
    --lime-a-3: #c6ff00;
    --lime-a-4: #aeea00;
    --lime-o-1: rgba(var(--lime), 0.1);
    --lime-o-2: rgba(var(--lime), 0.2);
    --lime-o-3: rgba(var(--lime), 0.3);
    --lime-o-4: rgba(var(--lime), 0.4);
    --lime-o-5: rgba(var(--lime), 0.5);
    --lime-o-6: rgba(var(--lime), 0.6);
    --lime-o-7: rgba(var(--lime), 0.7);
    --lime-o-8: rgba(var(--lime), 0.8);
    --lime-o-9: rgba(var(--lime), 0.9);

    --yellow-l-5: #fffde7;
    --yellow-l-4: #fff9c4;
    --yellow-l-3: #fff59d;
    --yellow-l-2: #fff176;
    --yellow-l-1: #ffee58;
    --yellow: #ffeb3b;
    --yellow-d-1: #fdd835;
    --yellow-d-2: #fbc02d;
    --yellow-d-3: #f9a825;
    --yellow-d-4: #f57f17;
    --yellow-d-5: #83440e;
    --yellow-a-1: #ffff8d;
    --yellow-a-2: #ffff00;
    --yellow-a-3: #ffea00;
    --yellow-a-4: #ffd600;
    --yellow-o-1: rgba(var(--yellow), 0.1);
    --yellow-o-2: rgba(var(--yellow), 0.2);
    --yellow-o-3: rgba(var(--yellow), 0.3);
    --yellow-o-4: rgba(var(--yellow), 0.4);
    --yellow-o-5: rgba(var(--yellow), 0.5);
    --yellow-o-6: rgba(var(--yellow), 0.6);
    --yellow-o-7: rgba(var(--yellow), 0.7);
    --yellow-o-8: rgba(var(--yellow), 0.8);
    --yellow-o-9: rgba(var(--yellow), 0.9);

    --amber-l-5: #fff8e1;
    --amber-l-4: #ffecb3;
    --amber-l-3: #ffe082;
    --amber-l-2: #ffd54f;
    --amber-l-1: #ffca28;
    --amber: #ffc107;
    --amber-d-1: #ffb300;
    --amber-d-2: #ffa000;
    --amber-d-3: #ff8f00;
    --amber-d-4: #ff6f00;
    --amber-d-5: #8d3e01;
    --amber-a-1: #ffe57f;
    --amber-a-2: #ffd740;
    --amber-a-3: #ffc400;
    --amber-a-4: #ffab00;
    --amber-o-1: rgba(var(--amber), 0.1);
    --amber-o-2: rgba(var(--amber), 0.2);
    --amber-o-3: rgba(var(--amber), 0.3);
    --amber-o-4: rgba(var(--amber), 0.4);
    --amber-o-5: rgba(var(--amber), 0.5);
    --amber-o-6: rgba(var(--amber), 0.6);
    --amber-o-7: rgba(var(--amber), 0.7);
    --amber-o-8: rgba(var(--amber), 0.8);
    --amber-o-9: rgba(var(--amber), 0.9);

    --orange-l-5: #fff3e0;
    --orange-l-4: #ffe0b2;
    --orange-l-3: #ffcc80;
    --orange-l-2: #ffb74d;
    --orange-l-1: #ffa726;
    --orange: #ff9800;
    --orange-d-1: #fb8c00;
    --orange-d-2: #f57c00;
    --orange-d-3: #ef6c00;
    --orange-d-4: #e65100;
    --orange-d-5: #993601;
    --orange-a-1: #ffd180;
    --orange-a-2: #ffab40;
    --orange-a-3: #ff9100;
    --orange-a-4: #ff6d00;
    --orange-o-1: rgba(var(--orange), 0.1);
    --orange-o-2: rgba(var(--orange), 0.2);
    --orange-o-3: rgba(var(--orange), 0.3);
    --orange-o-4: rgba(var(--orange), 0.4);
    --orange-o-5: rgba(var(--orange), 0.5);
    --orange-o-6: rgba(var(--orange), 0.6);
    --orange-o-7: rgba(var(--orange), 0.7);
    --orange-o-8: rgba(var(--orange), 0.8);
    --orange-o-9: rgba(var(--orange), 0.9);

    --deep-orange-l-5: #fbe9e7;
    --deep-orange-l-4: #ffccbc;
    --deep-orange-l-3: #ffab91;
    --deep-orange-l-2: #ff8a65;
    --deep-orange-l-1: #ff7043;
    --deep-orange: #ff5722;
    --deep-orange-d-1: #f4511e;
    --deep-orange-d-2: #e64a19;
    --deep-orange-d-3: #d84315;
    --deep-orange-d-4: #bf360c;
    --deep-orange-d-5: #922706;
    --deep-orange-a-1: #ff9e80;
    --deep-orange-a-2: #ff6e40;
    --deep-orange-a-3: #ff3d00;
    --deep-orange-a-4: #dd2c00;
    --deep-orange-o-1: rgba(var(--deep-orange), 0.1);
    --deep-orange-o-2: rgba(var(--deep-orange), 0.2);
    --deep-orange-o-3: rgba(var(--deep-orange), 0.3);
    --deep-orange-o-4: rgba(var(--deep-orange), 0.4);
    --deep-orange-o-5: rgba(var(--deep-orange), 0.5);
    --deep-orange-o-6: rgba(var(--deep-orange), 0.6);
    --deep-orange-o-7: rgba(var(--deep-orange), 0.7);
    --deep-orange-o-8: rgba(var(--deep-orange), 0.8);
    --deep-orange-o-9: rgba(var(--deep-orange), 0.9);

    --brown-l-5: #efebe9;
    --brown-l-4: #d7ccc8;
    --brown-l-3: #bcaaa4;
    --brown-l-2: #a1887f;
    --brown-l-1: #8d6e63;
    --brown: #795548;
    --brown-d-1: #6d4c41;
    --brown-d-2: #5d4037;
    --brown-d-3: #4e342e;
    --brown-d-4: #3e2723;
    --brown-d-5: #251714;
    --brown-o-1: rgba(var(--brown), 0.1);
    --brown-o-2: rgba(var(--brown), 0.2);
    --brown-o-3: rgba(var(--brown), 0.3);
    --brown-o-4: rgba(var(--brown), 0.4);
    --brown-o-5: rgba(var(--brown), 0.5);
    --brown-o-6: rgba(var(--brown), 0.6);
    --brown-o-7: rgba(var(--brown), 0.7);
    --brown-o-8: rgba(var(--brown), 0.8);
    --brown-o-9: rgba(var(--brown), 0.9);

    --grey-l-5: #fafafa;
    --grey-l-4: #f5f5f5;
    --grey-l-3: #eeeeee;
    --grey-l-2: #e0e0e0;
    --grey-l-1: #bdbdbd;
    --grey: #9e9e9e;
    --grey-d-1: #757575;
    --grey-d-2: #616161;
    --grey-d-3: #424242;
    --grey-d-4: #212121;
    --grey-d-5: #141414;
    --grey-o-1: rgba(var(--grey), 0.1);
    --grey-o-2: rgba(var(--grey), 0.2);
    --grey-o-3: rgba(var(--grey), 0.3);
    --grey-o-4: rgba(var(--grey), 0.4);
    --grey-o-5: rgba(var(--grey), 0.5);
    --grey-o-6: rgba(var(--grey), 0.6);
    --grey-o-7: rgba(var(--grey), 0.7);
    --grey-o-8: rgba(var(--grey), 0.8);
    --grey-o-9: rgba(var(--grey), 0.9);

    --blue-grey-l-5: #eceff1;
    --blue-grey-l-4: #cfd8dc;
    --blue-grey-l-3: #b0bec5;
    --blue-grey-l-2: #90a4ae;
    --blue-grey-l-1: #78909c;
    --blue-grey: #607d8b;
    --blue-grey-d-1: #546e7a;
    --blue-grey-d-2: #455a64;
    --blue-grey-d-3: #37474f;
    --blue-grey-d-4: #263238;
    --blue-grey-d-5: #161d20;
    --blue-grey-o-1: rgba(var(--blue-grey), 0.1);
    --blue-grey-o-2: rgba(var(--blue-grey), 0.2);
    --blue-grey-o-3: rgba(var(--blue-grey), 0.3);
    --blue-grey-o-4: rgba(var(--blue-grey), 0.4);
    --blue-grey-o-5: rgba(var(--blue-grey), 0.5);
    --blue-grey-o-6: rgba(var(--blue-grey), 0.6);
    --blue-grey-o-7: rgba(var(--blue-grey), 0.7);
    --blue-grey-o-8: rgba(var(--blue-grey), 0.8);
    --blue-grey-o-9: rgba(var(--blue-grey), 0.9);
}
