#fileupload{
  margin: 10px;
  background: #fff;
  border-radius: 5px;
}
.fileupload header{
  color: var(--secondary-d-2);
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}
.fileupload form{
  display: flex;
  cursor: pointer;
  margin: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed var(--secondary-d-2);
  background-color: var(--secondary-l-5);
}
.fileupload form :where(i, p){
  color: var(--secondary-d-2);;
}
.fileupload form i{
  font-size: 50px;
}
.fileupload form p{
  margin-top: 15px;
  font-size: 16px;
}

.fileupload section .row{
  margin-bottom: 10px;
  background: #E9F0FF;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fileupload section .row i{
  color: var(--secondary-d-2);
  font-size: 30px;
}
.fileupload section .details span{
  font-size: 14px;
}
.fileupload .progress-area .row .content{
  width: 100%;
  margin-left: 15px;
}
.fileupload .progress-area .details{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}
.fileupload .progress-area .content .progress-bar{
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}
.fileupload .content .progress-bar .progress{
  height: 100%;
  width: 0%;
  background: var(--secondary-d-2);
  border-radius: inherit;
}
.fileupload .uploaded-area{
  max-height: 232px;
  overflow-y: scroll;
}
.fileupload .uploaded-area.onprogress{
  max-height: 150px;
}
.fileupload .uploaded-area::-webkit-scrollbar{
  width: 0px;
}
.fileupload .uploaded-area .row .content{
  display: flex;
  align-items: center;
}
.fileupload .uploaded-area .row .details{
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.fileupload .uploaded-area .row .details .size{
  color: #404040;
  font-size: 11px;
}
.fileupload .uploaded-area i.fa-check{
  font-size: 16px;
}

.dragable{
  cursor: copy;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  border-radius: 5px;
  border: 2px dashed var(--secondary-d-2);
}
