body::-webkit-scrollbar {
    display: none;
}

/* C U R S O R */
    a[onclick], a[href], button, .cursor-pointer {cursor: pointer; }
    .cursor-zoom-in{ cursor: zoom-in; }
    .cursor-not-allowed{ cursor: not-allowed; }
    .cursor-crosshair{ cursor: crosshair; }
    .cursor-wait{ cursor: wait; }
    .cursor-col-rezise{ cursor: col-resize; }
    .cursor-help{ cursor: help; }
    .cursor-grab{ cursor: grab; }
    .disabled{ cursor: not-allowed; }

/* B O R D E R */
    .border{
        border-width: 1px;
        border-style: solid;
    }
    .no-border{border-width: 0px;border-style: none;}
    .border-solid{border-style: solid;}
    .border-groove{border-style: groove;}

    .border-none{border-width: 0px;}
    .border-1{border-width: 1px;}
    .border-2{border-width: 2px;}
    .border-3{border-width: 3px;}
    .border-4{border-width: 4px;}
    .border-5{border-width: 5px;}
    .border-top-0{border-top-width: 0px;}
    .border-top-1{border-top-width: 1px;}
    .border-top-2{border-top-width: 2px;}
    .border-top-3{border-top-width: 3px;}
    .border-top-4{border-top-width: 4px;}
    .border-top-5{border-top-width: 5px;}
    .border-bottom-0{border-bottom-width: 0px;}
    .border-bottom-1{border-bottom-width: 1px;}
    .border-bottom-2{border-bottom-width: 2px;}
    .border-bottom-3{border-bottom-width: 3px;}
    .border-bottom-4{border-bottom-width: 4px;}
    .border-bottom-5{border-bottom-width: 5px;}
    .border-bottom-8{border-bottom-width: 8px;}
    .border-right-0{border-right-width: 0px;}
    .border-right-1{border-right-width: 1px;}
    .border-right-2{border-right-width: 2px;}
    .border-right-3{border-right-width: 3px;}
    .border-right-4{border-right-width: 4px;}
    .border-right-5{border-right-width: 5px;}
    .border-left-0{border-left-width: 0px;}
    .border-left-1{border-left-width: 1px;}
    .border-left-2{border-left-width: 2px;}
    .border-left-3{border-left-width: 3px;}
    .border-left-4{border-left-width: 4px;}
    .border-left-5{border-left-width: 5px;}

    .border-1-hover:hover{border-width: 1px;}
    .border-2-hover:hover{border-width: 2px;}
    .border-3-hover:hover{border-width: 3px;}
    .border-4-hover:hover{border-width: 4px;}
    .border-5-hover:hover{border-width: 5px;}
    .border-top-0-hover:hover{border-top-width: 0px;}
    .border-top-1-hover:hover{border-top-width: 1px;}
    .border-top-2-hover:hover{border-top-width: 2px;}
    .border-top-3-hover:hover{border-top-width: 3px;}
    .border-top-4-hover:hover{border-top-width: 4px;}
    .border-top-5-hover:hover{border-top-width: 5px;}
    .border-bottom-0-hover:hover{border-bottom-width: 0px;}
    .border-bottom-1-hover:hover{border-bottom-width: 1px;}
    .border-bottom-2-hover:hover{border-bottom-width: 2px;}
    .border-bottom-3-hover:hover{border-bottom-width: 3px;}
    .border-bottom-4-hover:hover{border-bottom-width: 4px;}
    .border-bottom-5-hover:hover{border-bottom-width: 5px;}
    .border-bottom-8-hover:hover{border-bottom-width: 8px;}
    .border-right-0-hover:hover{border-right-width: 0px;}
    .border-right-1-hover:hover{border-right-width: 1px;}
    .border-right-2-hover:hover{border-right-width: 2px;}
    .border-right-3-hover:hover{border-right-width: 3px;}
    .border-right-4-hover:hover{border-right-width: 4px;}
    .border-right-5-hover:hover{border-right-width: 5px;}
    .border-left-0-hover:hover{border-left-width: 0px;}
    .border-left-1-hover:hover{border-left-width: 1px;}
    .border-left-2-hover:hover{border-left-width: 2px;}
    .border-left-3-hover:hover{border-left-width: 3px;}
    .border-left-4-hover:hover{border-left-width: 4px;}
    .border-left-5-hover:hover{border-left-width: 5px;}

    .border-solid-hover:hover{border-style: solid;}
    .border-groove-hover:hover{border-style: groove;}

    .line-bottom-grey{
        border-bottom-width: 1px;
        border-color: linear-gradient(to right, rgba(112, 112, 112, 0),10%, rgba(112, 112, 112, 1));
    }

/* S H A D O W */
    .shadow-box-1{box-shadow: 1px 1px 3px #0000001f, 0 1px 2px rgba(0,0,0,0.24);  transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
    .shadow-box-2{box-shadow: 1px 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
    .shadow-box-3{box-shadow: 1px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);  transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
    .shadow-box-4{box-shadow: 1px 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
    .shadow-box-5{box-shadow: 1px 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);  transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
    .shadow-box-hover:hover{box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
    .shadow-box-2-hover:hover{box-shadow: 1px 3px 6px rgba(0,0,0,0.25), 1px 3px 6px rgba(0,0,0,0.22);}

    .shadow-text-1{text-shadow: 1px 1px 3px #0000001f, 0 1px 2px rgba(0,0,0,0.24);  transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
    .shadow-text-2{text-shadow: 1px 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
    .shadow-text-3{text-shadow: 1px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);  transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
    .shadow-text-4{text-shadow: 1px 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
    .shadow-text-5{text-shadow: 1px 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);  transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
    .shadow-text-hover:hover{text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
    .shadow-text-2-hover:hover{text-shadow: 1px 3px 6px rgba(0,0,0,0.25), 1px 3px 6px rgba(0,0,0,0.22);}

/* O V E R F L O W  --- h1, h4, p -> taille de la police ----- lX -> nombre de ligne*/ 
    .overflow-p-l2{
        height: 45px;
        overflow: hidden;
        text-hoverflow: ellipsis;
    }
    .overflow-h4-l1{
        height: 1.1rem;
        overflow: hidden;
        text-hoverflow: ellipsis;
    }

/* F L O U */
    .blur-1{
        filter: blur(1px);
        -webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -o-filter: blur(1px);
        -ms-filter: blur(1px);
    }
    .blur-2{
        filter: blur(3px);
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
    }
    .blur-3{
        filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
    }
    .blur-4{
        filter: blur(10px);
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
    }
    .blur-5{
        filter: blur(15px);
        -webkit-filter: blur(15px);
        -moz-filter: blur(15px);
        -o-filter: blur(15px);
        -ms-filter: blur(15px);
    }

/* Notification */
    #MsgAlert{
        position: fixed;
        top: 10px;
        right: 20px;
        width: 350px;
        max-width: 100%;
        font-size: .875rem;
        pointer-events: auto;
    }
    #MsgAlert .msgSquare{
        width:20px;
        height:20px;
        border-radius: .20rem;
        margin-right: 5px;
    }
    #MsgAlert .notif{
        background-color: white;
        border-radius: .20rem;
        margin-bottom: 1rem;
        padding: 2px;
        border-style: solid;
        border-width: 2px;
        box-shadow: 1px 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }	
    #MsgAlert .notif:hover{
        box-shadow: 1px 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }	
    #onloadDisplay{
        display: none;
        position: fixed;
        bottom: 10px;
        right: 20px;
    }

    
    #search-sign{
        top:50%;right:5px;transform: translateY(-50%);
        position: absolute;
        color:var(--grey);
        font-size: 0.8em;
    }
    #search-sign .spinner-border{
        width: 1rem;
        height: 1rem;
        color:var(--grey);
    }
    .ui-autocomplete {
        white-space:normal;
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: none;
        box-shadow: 1px 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        z-index: 1056!important;
    }
    .ui-autocomplete::-webkit-scrollbar{
        display: none;
    }

    /* C O O K I E   B A R */
    .cookie-bar{
        position:fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
        background-color: var(--secondary-l-2);
        padding: 5px;
        z-index:10000;
    }
    .offcanvas-fullscreen{
        width: 100%;
        height: 100%;
        transition: all 0.4s cubic-bezier(.25,.8,.25,1);
    }
    /* Ne pas afficher scrollbar */
    #offcanvasbookmark{
        scrollbar-width: none;
    }
    #offcanvasbookmark::-webkit-scrollbar{
        display: none;
    }
    #offcanvasbookmark .offcanvas-body{
        scrollbar-width: none;
    }
    #offcanvasbookmark .offcanvas-body::-webkit-scrollbar{
        display: none;
    }