// Général
@import "common/_variables.scss";
// Design
@import "common/design/_blur.scss";
@import "common/design/_border.scss";
@import "common/design/_cursor.scss";
@import "common/design/_font.scss";
@import "common/design/_shadow.scss";
@import "common/design/_size.scss";
@import "common/design/_text.scss";
// Composants
@import "common/components/_loading.scss";
@import "common/components/_badge.scss";
@import "common/components/_boutton.scss";
@import "common/components/_divider.scss";
@import "common/components/_form.scss";
@import "common/components/_image.scss";
@import "common/components/_tooltips.scss";

.move_icon_pa i{
  position: relative;
}
.move_icon_pa i span{
  position: absolute;
  top: 1px;
  right: 11px;
  text-shadow: 1px 1px 1px black;
  font-weight: bold;
  font-size: 0.9rem;
  z-index: 10;
}
.move_icon_pa i img{
  opacity: 0.8;
  z-index: 9;
}