:root{
  /* Couleur princpale */
  --main-l-5: var(--blue-grey-l-5);
  --main-l-4: var(--blue-grey-l-4);
  --main-l-3: var(--blue-grey-l-3);
  --main-l-2: var(--blue-grey-l-2);
  --main-l-1: var(--blue-grey-l-1);
  --main: var(--blue-grey);
  --main-d-1: var(--blue-grey-d-1);
  --main-d-2: var(--blue-grey-d-2);
  --main-d-3: var(--blue-grey-d-3);
  --main-d-4: var(--blue-grey-d-4);
  --main-d-5: var(--blue-grey-d-5);
  --main-a-1: var(--blue-grey-a-1);
  --main-a-2: var(--blue-grey-a-2);
  --main-a-3: var(--blue-grey-a-3);
  --main-a-4: var(--blue-grey-a-4);

  /* Couleur secondaire */
  --secondary-l-5: var(--teal-l-5);
  --secondary-l-4: var(--teal-l-4);
  --secondary-l-3: var(--teal-l-3);
  --secondary-l-2: var(--teal-l-2);
  --secondary-l-1: var(--teal-l-1);
  --secondary: var(--teal);
  --secondary-d-1: var(--teal-d-1);
  --secondary-d-2: var(--teal-d-2);
  --secondary-d-3: var(--teal-d-3);
  --secondary-d-4: var(--teal-d-4);
  --secondary-d-5: var(--teal-d-5);
  --secondary-a-1: var(--teal-a-1);
  --secondary-a-2: var(--teal-a-2);
  --secondary-a-3: var(--teal-a-3);
  --secondary-a-4: var(--teal-a-4);

  /* Couleur tertiaire */
  --tertiary-l-5: var(--deep-purple-l-5);
  --tertiary-l-4: var(--deep-purple-l-4);
  --tertiary-l-3: var(--deep-purple-l-3);
  --tertiary-l-2: var(--deep-purple-l-2);
  --tertiary-l-1: var(--deep-purple-l-1);
  --tertiary: var(--deep-purple);
  --tertiary-d-1: var(--deep-purple-d-1);
  --tertiary-d-2: var(--deep-purple-d-2);
  --tertiary-d-3: var(--deep-purple-d-3);
  --tertiary-d-4: var(--deep-purple-d-4);
  --tertiary-d-5: var(--deep-purple-d-5);
  --tertiary-a-1: var(--deep-purple-a-1);
  --tertiary-a-2: var(--deep-purple-a-2);
  --tertiary-a-3: var(--deep-purple-a-3);
  --tertiary-a-4: var(--deep-purple-a-4);
}

/* -------------------------------------------- F O R M ------------------------------ */
.form-control:focus{
    border-color: var(--main-d-1)!important;
    box-shadow: 0 0 0 .2rem var(--main-d-1)!important;
}
.form-select:focus{
    border-color: var(--main-d-1)!important;
    box-shadow: 0 0 0 .2rem var(--main-d-1)!important;
}

/* -------------------------------------------- B O U T O N S ------------------------------ */
/* https://openclassrooms.com/fr/courses/5919246-creez-des-animations-css-modernes/6340912-decouvrez-les-animations-web */
/* Animation */
.btn {
  transform: scale(1);
  /* propriété durée délais timming , autres animations ... */
  transition: transform .15s cubic-bezier(.71,.12,1,.6), background-color .14s 50ms ease-in-out;
  z-index: 1;
}
.btn:hover{
  text-decoration: none;
}
.btn:active{
  display: inline-block;
  transform: scale(1.10) translateY(5px); /* Une seule propriété transforme par élément */
}

/* Bouton fond rempli */
.btn-back-main{
  border: 1px solid var(--main-d-2);
  background-color: var(--main-d-2);
  color: white;
}
.btn-back-main:hover{
  background-color: var(--main-l-3);
  border: 1px solid var(--main-l-3);
  color: var(--main-d-4);
}
.btn-back-secondary{
  border: 1px solid var(--secondary-d-2);
  background-color: var(--secondary-d-2);
  color: white;
}
.btn-back-secondary:hover{
  border: 1px solid var(--secondary-l-3);
  background-color: var(--secondary-l-3);
  color: var(--secondary-d-4);
}
.btn-back-tertiary{
  border: 1px solid var(--tertiary-d-2);
  background-color: var(--tertiary-d-2);
  color: white;
}
.btn-back-tertiary:hover{
  border: 1px solid var(--tertiary-l-3);
  background-color: var(--tertiary-l-3);
  color: var(--tertiary-d-4);
}
.btn-back-red{
  border: 1px solid var(--red-d-2);
  background-color: var(--red-d-2);
  color: white;
}
.btn-back-red:hover{
  border: 1px solid var(--red-l-3);
  background-color: var(--red-l-3);
  color: var(--red-d-4);
}
.btn-back-green{
  border: 1px solid var(--green-d-2);
  background-color: var(--green-d-2);
  color: white;
}
.btn-back-green:hover{
  border: 1px solid var(--green-l-3);
  background-color: var(--green-l-3);
  color: var(--green-d-4);
}
.btn-back-grey{
  border: 1px solid var(--grey-d-2);
  background-color: var(--grey-d-2);
  color: white;
}
.btn-back-grey:hover{
  border: 1px solid var(--grey-l-3);
  background-color: var(--grey-l-3);
  color: var(--grey-d-4);
}

/* Bouton border */
.btn-border-main{
  border: 2px solid var(--main-d-2);
  background-color: white;
  color: var(--main-d-2);
}
.btn-border-main:hover{
  border: 2px solid var(--main-d-2);
  background-color: var(--main-d-2);
  color: white;
}
.btn-border-secondary{
  border: 2px solid var(--secondary-d-2);
  background-color: white;
  color: var(--secondary-d-2);
}
.btn-border-secondary:hover{
  border: 2px solid var(--secondary-d-2);
  background-color: var(--secondary-d-2);
  color: white;
}
.btn-border-tertiary{
  border: 2px solid var(--tertiary-d-2);
  background-color: white;
  color: var(--main-d-2);
}
.btn-border-tertiary:hover{
  border: 2px solid var(--tertiary-d-2);
  background-color: var(--tertiary-d-2);
  color: white;
}
.btn-border-red{
  border: 2px solid var(--red-d-2);
  background-color: white;
  color: var(--red-d-2);
}
.btn-border-red:hover{
  border: 2px solid var(--red-d-2);
  background-color: var(--red-d-2);
  color: white;
}
.btn-border-green{
  border: 2px solid var(--green-d-2);
  background-color: white;
  color: var(--green-d-2);
}
.btn-border-green:hover{
  border: 2px solid var(--green-d-2);
  background-color: var(--green-d-2);
  color: white;
}
.btn-border-grey{
  border: 2px solid var(--grey-d-2);
  background-color: white;
  color: var(--grey-d-2);
}
.btn-border-grey:hover{
  border: 2px solid var(--grey-d-2);
  background-color: var(--grey-d-2);
  color: white;
}

/* Bouton underline */
.btn-underline-main{
  border: none;
  background-color: transparent;
  color: var(--main-d-2);
}
.btn-underline-main:hover{
  border-bottom: 2px solid var(--main-d-4);
  color: var(--main-d-4);
}
.btn-underline-secondary{
  border: none;
  background-color: transparent;
  color: var(--secondary-d-2);
}
.btn-underline-secondary:hover{
  border-bottom: 2px solid var(--secondary-d-4);
  color: var(--secondary-d-4);
}
.btn-underline-tertiary{
  border: none;
  background-color: transparent;
  color: var(--tertiary-d-2);
}
.btn-underline-tertiary:hover{
  border-bottom: 2px solid var(--tertiary-d-4);
  color: var(--tertiary-d-4);
}
.btn-underline-red{
  border: none;
  background-color: transparent;
  color: var(--red-d-2);
}
.btn-underline-red:hover{
  border-bottom: 2px solid var(--red-d-4);
  color: var(--red-d-4);
}
.btn-underline-green{
  border: none;
  background-color: transparent;
  color: var(--green-d-2);
}
.btn-underline-green:hover{
  border-bottom: 2px solid var(--green-d-4);
  color: var(--green-d-4);
}
.btn-underline-grey{
  border: none;
  background-color: transparent;
  color: var(--grey-d-2);
}
.btn-underline-grey:hover{
  border-bottom: 2px solid var(--grey-d-4);
  color: var(--grey-d-4);
}

/* Bouton text */
.btn-text-main{
  border: none;
  background-color: transparent;
  color: var(--main-d-2);
}
.btn-text-main:hover{
  color: var(--main-d-4);
}
.btn-text-secondary{
  border: none;
  background-color: transparent;
  color: var(--secondary-d-2);
}
.btn-text-secondary:hover{
  color: var(--secondary-d-4);
}
.btn-text-tertiary{
  border: none;
  background-color: transparent;
  color: var(--tertiary-d-2);
}
.btn-text-tertiary:hover{
  color: var(--tertiary-d-4);
}
.btn-text-red{
  border: none;
  background-color: transparent;
  color: var(--red-d-2);
}
.btn-text-red:hover{
  color: var(--red-d-4);
}
.btn-text-green{
  border: none;
  background-color: transparent;
  color: var(--green-d-2);
}
.btn-text-green:hover{
  color: var(--green-d-4);
}
.btn-text-grey{
  border: none;
  background-color: transparent;
  color: var(--grey-d-2);
}
.btn-text-grey:hover{
  color: var(--grey-d-4);
}

/* -------------------------------------------- B A D G E S ------------------------------ */
.badge{
background-color: var(--main-d-2);
color:white;
}
.badge-outline{
border:1px solid var(--main-d-2);
background-color: white;
color:var(--main-d-2);
display: inline-block;
padding: 0.35em 0.65em;
font-size: 0.75em;
font-weight: 700;
line-height: 1;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: 0.375rem;
}
.badge-secondary{
background-color: var(--secondary-d-2);
color:white;
}
.badge-outline-secondary{
border:1px solid var(--secondary-d-2);
background-color: white;
color:var(--secondary-d-2);
display: inline-block;
padding: 0.35em 0.65em;
font-size: 0.75em;
font-weight: 700;
line-height: 1;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: 0.375rem;
}
.badge-tertiary{
background-color: var(--tertiary-d-2);
color:white;
}
.badge-outline-tertiary{
border:1px solid var(--tertiary-d-2);
background-color: white;
color:var(--tertiary-d-2);
display: inline-block;
padding: 0.35em 0.65em;
font-size: 0.75em;
font-weight: 700;
line-height: 1;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: 0.375rem;
}

/* Correction de Bootstrap-table */
  .bootstrap-table #toolbar{
    display: none;
  }