.tree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}
.tree-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.tree-line-node-content{
    display: inline-flex;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin: auto;
}
.tree-line-node {
    display: inline-flex;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.tree-node-item {
    border-top: 5px solid var(--secondary-d-2);
    border-radius: 5px;
    margin: 15px 2vw;
}
.tree-node-item div {
    right: 2px;
    top:-2px;
}

@media screen and (max-width: 768px) {
    .tree{
        display: flex;
        flex-direction: column;
    }
    .tree-line{
        flex-direction: column;
    }
    .tree-line-node {
        display: flex;
        flex-direction: column;
    }
}