// Mixin pour l'effet blur
@mixin blur($value) {
    filter: blur(#{$value});
    -webkit-filter: blur(#{$value});
    -moz-filter: blur(#{$value});
    -o-filter: blur(#{$value});
    -ms-filter: blur(#{$value});
  }
  
  // Boucle pour générer les classes de blur
  $blur-values: 1px, 3px, 5px, 10px, 15px;
  @for $i from 1 through length($blur-values) {
    .blur-#{$i} {
      @include blur(nth($blur-values, $i));
    }
  }
  