// Mixin pour les largeurs de bordure
@mixin border-width($direction: all, $width: 1px, $hover: false) {
    @if $direction == all {
      border-width: $width;
    } @else {
      border-#{$direction}-width: $width;
    }
    
    @if $hover {
      &:hover {
        @if $direction == all {
          border-width: $width;
        } @else {
          border-#{$direction}-width: $width;
        }
      }
    }
  }
  
  // Mixin pour les styles de bordure
  @mixin border-style($style: solid, $hover: false) {
    border-style: $style;
  
    @if $hover {
      &:hover {
        border-style: $style;
      }
    }
  }
  
  // Classes de base pour la bordure
  .border {
    @include border-width(1px);
    @include border-style(solid);
  }
  
  .no-border {
    @include border-width(0px);
    @include border-style(none);
  }
  
  // Boucle pour les styles de bordure
  $border-styles: solid, groove;
  @each $style in $border-styles {
    .border-#{$style} {
      @include border-style($style);
    }
  
    .border-#{$style}-hover:hover {
      @include border-style($style, true);
    }
  }
  
  // Boucle pour les largeurs de bordure
  @for $i from 0 through 8 {
    @if $i <= 5 or $i == 8 {
      .border-#{$i} {
        @include border-width(all, #{$i}px);
      }
  
      .border-top-#{$i} {
        @include border-width(top, #{$i}px);
      }
  
      .border-bottom-#{$i} {
        @include border-width(bottom, #{$i}px);
      }
  
      .border-right-#{$i} {
        @include border-width(right, #{$i}px);
      }
  
      .border-left-#{$i} {
        @include border-width(left, #{$i}px);
      }
  
      .border-#{$i}-hover:hover {
        @include border-width(all, #{$i}px, true);
      }
  
      .border-top-#{$i}-hover:hover {
        @include border-width(top, #{$i}px, true);
      }
  
      .border-bottom-#{$i}-hover:hover {
        @include border-width(bottom, #{$i}px, true);
      }
  
      .border-right-#{$i}-hover:hover {
        @include border-width(right, #{$i}px, true);
      }
  
      .border-left-#{$i}-hover:hover {
        @include border-width(left, #{$i}px, true);
      }
    }
  }
  