@mixin truncate($size) {
    max-width: $size + px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@for $i from 5 to 31 {
    $size: $i * 10;
    .truncate-#{$size} {
        @include truncate($size);
    }
}
