/* C U R S O R */
.cursor-pointer {cursor: pointer; }
.cursor-zoom-in{ cursor: zoom-in; }
.cursor-not-allowed{ cursor: not-allowed; }
.cursor-crosshair{ cursor: crosshair; }
.cursor-wait{ cursor: wait; }
.cursor-col-rezise{ cursor: col-resize; }
.cursor-help{ cursor: help; }
.cursor-grab{ cursor: grab; }
.disabled{ cursor: not-allowed; }