@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{font-family: 'Segoe UI', 'Roboto', sans-serif;}

.light{font-weight: 300;}
.regular{font-weight: 400;}
.medium{font-weight: 500;}
.semi-bold{font-weight: 600;}
.bold{font-weight: 700;}
.italic{font-style:italic;}

.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}

.size-0-6{font-size: 0.6em;}
.size-0-7{font-size: 0.7em;}
.size-0-8{font-size: 0.8em;}
.size-0-9{font-size: 0.9em;}
.size-1{font-size: 1em;}
.size-1-2{font-size: 1.2em;}
.size-1-3{font-size: 1.3em;}
.size-1-4{font-size: 1.4em;}
.size-1-5{font-size: 1.5em;}
.size-1-8{font-size: 1.8em;}
.size-2{font-size: 2em;}
.size-2-5{font-size: 2.5em;}
.size-3{font-size: 3em;}
.size-4{font-size: 4em;}
.size-5{font-size: 5em;}
.size-6{font-size: 6em;}
.size-7{font-size: 7em;}

